@*<div ng-include="'/App/Main/views/layout/header.cshtml'"></div>*@

<div class="panel panel-default" ng-controller="ts.views.task.tasklist as vm">

   <div class="panel-heading taskListHeading" style="position: relative;">
      <div class="row">

         <!-- Title -->
         <h3 class="panel-title col-xs-6">
            @L("TaskList") - <span>{{vm.getTaskCountText()}}</span>
         </h3>

         <!-- Task state combobox -->
         <div class="col-xs-6 text-right">
            <select ng-model="selectedTaskState">
               <option value="0" ng-selected="true">@L("AllTasks")</option>
               <option value="1">@L("TodoTasks")</option>
               <option value="2">@L("InProgressTasks")</option>
               <option value="3">@L("CompletedTasks")</option>
            </select>
         </div>
      </div>
   </div>

   <!-- Task list -->
   <ul class="list-group taskList" ng-repeat="task in vm.tasks | orderBy:'state'">
      <div class="list-group-item" ng-class="{'active': task.state === 1, 'inprogress': task.state === 2 , 'complete':task.state === 3}">
         <span class="task-state-icon glyphicon" ng-click="vm.changeTaskState(task)" ng-class="{'glyphicon-minus': task.state === 1, 'glyphicon-chevron-right': task.state === 2, 'glyphicon-ok': task.state === 3}"></span>
         <span ng-class="{'task-description-active': task.state === 1, 'task-description-inprogess': task.state === 2, 'task-description-completed': task.state === 3 }" style="font-weight:bold;font-size:16px">{{task.title}}</span>
         <a class="pull-right task-state-icon glyphicon glyphicon-remove icon" ng-click="vm.removeTask(task.id)"></a>
         <a class="pull-right task-state-icon glyphicon glyphicon-pencil icon" ng-href="#newtask/{{task.id}}"></a>

         <br />

         <span ng-show="task.assignedPersonId > 0">
            <span class="task-assignedto cite">
               @*<div ng-class="{'glyphicon glyphicon-fire':task.assignedPersonGender == 'Male', 'glyphicon glyphicon-leaf':task.assignedPersonGender == 'Female'}"></div>*@
               {{task.assignedPersonJob}}, {{task.assignedPersonFirstName}} {{task.assignedPersonLastName}} <span ng-show="task.state === 3">{{task.completionTime | date:'dd/MM/yyyy'}}</span>
            </span>
         </span>
         <span class="task-creationtime">{{task.creationTime}}</span>
         <hr />
         <textarea class="form-control disabledTextarea" readonly>{{task.description}}</textarea>

      </div>


   </ul>
</div>